<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Advantage Auto</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="bridlewood automotive, bridlewood, whitby, oshawa, pickering ontario, auto repair, auto service, repair, automotive, 
        service, industry, auto, repair, shops, facility, online, web, sites, fuel, injection, alignment, trust, honest, safety, inspections">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}"/>
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav>
            <div>
                <a id="navbar-logo" href="{{ url_for('home') }}"><img id="navbar-logo-image" src="{{ url_for('static', filename='img/logo.png') }}" alt="Advantage Auto" style="height: 64px;"/></a>
                <div id="navbar-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul id="navbar-links">
                    <li><a {% if active == 'who_we_are' %}class="active"{% endif %} href="{{ url_for('who_we_are') }}">Who We Are</a></li>
                    <li><a {% if active == 'staff' %}class="active"{% endif %} href="{{ url_for('staff') }}">Staff</a></li>
                    <li><a {% if active == 'services' %}class="active"{% endif %} href="{{ url_for('services') }}">Services Offered</a></li>
                    <li><a {% if active == 'used_car' %}class="active"{% endif %} href="{{ url_for('used_car') }}">Buying a Used Car?</a></li>
                    <li><a {% if active == 'avoid' %}class="active"{% endif %} href="{{ url_for('avoid') }}">Vehicles to Avoid</a></li>
                    <li><a {% if active == 'appointment' %}class="active"{% endif %} href="{{ url_for('appointment') }}">Appointment Request</a></li>
                </ul>
            </div>
        </nav>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <div>© Advantage Auto</div>
            <div>All rights reserved.</div>
        </footer>
    </body>
</html>
