<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Advantage Auto</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    </head>
    <body>
        <nav>
            <div id="brand-title">Advantage Auto</div>
            <div id="toggle-button">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="navbar-links">
                <ul>
                    <li><a href="#" {% if active == 'home' %}class="active"{% endif %}>Home</a></li>
                    <li><a href="#" {% if active == 'about' %}class="active"{% endif %}>About</a></li>
                    <li><a href="#" {% if active == 'contact' %}class="active"{% endif %}>Contact</a></li>
                </ul>
            </div>
        </nav>
        <footer>
            <p>&copy; Advantage Auto</p>
            <p>All rights reserved.</p>
        </footer>
    </body>
</html>