{% extends 'layout.html' %}

{% block body %}
    <h1>Staff:</h1>
    <div class="grid-container-4">
            <div>
                <img class="photo" src="{{ url_for('static', filename='img/owen.jpg') }}" alt="Owen DeBoer" id="">
            </div>
            <p>
                Owen DeBoer started in the trade in 1991. He has been a certified Red Seal 310S Auto Service Technician as well as a 310T Truck and Coach since May 1996.
            </p>
            <div>
                <img class="photo" src="{{ url_for('static', filename='img/stuart.jpg') }}" alt="Stuart Gillanders">
            </div>
            <p>
                Stuart Gillanders started in the trade in 1997 and started working here in August 2005. He has been a certified Red Seal 310S Auto Service Technician since October 2004.
            </p>
            <div>
                <img class="photo" src="{{ url_for('static', filename='img/ryan.jpg') }}" alt="Ryan Boulton">
            </div>
            <p>
                Ryan Boulton started in the trade in 1999 and started working here in March 2015. He has been a certified Red Seal 310S Auto Service Technician since September 2004.
            </p>       
            <div>
                <img class="photo" src="{{ url_for('static', filename='img/william.jpg') }}" alt="William Dyer">
            </div>
            <p>
                William Dyer started as a co-op student with us in 2012. He has been a certified Red Seal 310S Auto Service Technician since May 2018.
            </p>       
            <div>
                <img class="photo" src="{{ url_for('static', filename='img/cody.jpg') }}" alt="Cody Summers">
            </div>
            <p>
                Cody Summers started as a co-op student with us in 2018. He is currently working through his apprenticeship program here.
            </p>
    </div>
{% endblock %}
